.advertising {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  background-image: url('../img/advertising.png');
  width: 100%;
  background-size: cover;
  height: 500px;
  &__content {
      display: flex;
      flex-direction: column;
      margin-right: 60px;
      align-items: flex-end;
      margin-top: 60px;
  }
  &__info {
      text-align: right;
      font-family: "Oswald";
      font-size: 65px;
      color: white;
      justify-content: right;
      line-height: 1;
  }
  &__btn {
      display: flex;
      justify-content: center;
      width: 276px;
      height: 73px;
      border-radius: 8px;
      margin-top: 30px;
      background-color: rgb(17, 20, 117);
  }
  &__textbtn {
      font-family: "Oswald";
      display: flex;
      color: white;
      font-size: 23px;
      align-items: center;
  }
}

@media(max-width: 700px) {
  .advertising {
      justify-content: center;
      align-items: center;
      flex-direction: none;
      margin-top: 10%;
      &__info {
          text-align: center;
          font-size: 48px;
          line-height: 1;
      }
      &__content {
          margin: 0;
          justify-content: center;
          align-items: center;
      }
      &__btn {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          width: 260px;
          height: 50px;
      }
      &__textbtn {
          font-size: 18px;
      }
  }
}