.advertising{

    display: flex;
    flex-direction: column;
    margin-top: 7%;
    background-image: url('../img/advertising.png');
    width:100%;
    background-size: cover;
    height: 500px;

    &__info{
       
        margin-top: 7%;
        margin-right: 5%;
        text-align: right;
        font-family: "Oswald";
        font-size: 65px;
        color: white; 
        justify-content: right;
        height: 30%;
        line-height: 1;
    }
    
    &__btn{
    
        margin-left: 75.3%;
        margin-top: 6%;
        display: flex;
        justify-content: center;
        width: 276px;
        height: 73px;
        border-radius: 8px;
        background-color: rgb(17, 20,117);     
      
      }

      &__textbtn{
    
        font-family: "Oswald";
        display: flex;
        color: white;
        font-size: 23px;
        align-items: center;
        
      }

      @media(max-width: 800px){ 

        justify-content: center;
        flex-direction: none;
        margin-top: 10%;

        &__info{
       
          margin-top: 2%;
          margin-right: 5%;
          text-align: center;
          font-size: 48px;
          height: 30%;
          line-height: 1;
      }
      
      &__btn{
      
          margin-left: 22%;
          margin-top: 5%;
          display: flex;
          justify-content: center;
          width: 260px;
          height: 50px;   
        
        }
  
        &__textbtn{
          font-size: 18px;     
        }

      }

}