.attributes{

    display: flex;
    justify-content: center;

    &_bigtitle{

        font-family: "Oswald";
        color: rgb(17, 20,117);
        font-size: 50px;
        margin-top:13%;  
    }
  
    &__container{
       
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    &__line1{
      width: 155px; 
      height: 2px;  
      margin-right: 2%;
      background-color:  rgb(17, 20,117);
    }

    &__line2{
        width: 155px; 
        height: 2px;  
        margin-left: 2%;
        background-color:  rgb(17, 20,117);
      }

    &__subtitle{
    margin-top: 0.5%;
    font-family: "Chivo";
    font-size: 30px; 
    color: rgb(17, 20,117);    
    }   

    &__information{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text{
    margin-top: 4%;
    font-family: "Chivo";
    text-align: center;
    color: rgb(17, 20,117);
    font-size:22px;     
    }

    &__cookie{
        margin-top: 1%;
        position: absolute;
        width:340px;
        height:340px;   
        right: 30px;
    }

    &__flour{
        position: absolute;
        width:610px;
        height:410px;   
        left: 60px;
    }



    


}


