.attributes{

    display: flex;
    justify-content: center;

    &_bigtitle{

        font-family: "Oswald";
        color: rgb(17, 20,117);
        font-size: 50px;
        margin-top:13%;  
    }
  
    &__container{
       
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    &__line1{

      margin-top: 0.5%;
      width: 155px; 
      height: 2px;  
      margin-right: 2%;
      background-color:  rgb(17, 20,117);
    }

    &__line2{
        
        margin-top: 0.5%;
        width: 155px; 
        height: 2px;  
        margin-left: 2%;
        background-color:  rgb(17, 20,117);
      }

    &__subtitle{
    margin-top: 0.5%;
    font-family: "Chivo";
    font-size: 30px; 
    color: rgb(17, 20,117);    
    }   

    &__information{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text{
    margin-top: 4%;
    font-family: "Chivo";
    text-align: center;
    color: rgb(17, 20,117);
    font-size:22px;     
    }

    &__cookie{
        margin-top: 1%;
        position: absolute;
        width:340px;
        height:340px;   
        right: 30px;
    }

    &__flour{
       margin-top: -5%;
        position: absolute;
        width:615px;
        height:410px;   
        left: 45px;
    }
    
}

@media(max-width: 1200px){

    .attributes{
    
        &__cookie{
            display: none;
        }
    
        &__flour{

            display: none;
        }

        &_bigtitle{

            font-size: 30px;
            margin-top:11%; 
            margin-left: 9%;
        }
      
        
        &__line1{
    
          margin-top: 0.5%;
          width: 97px; 
          height: 2px;  
          margin-right: 1%;
          background-color:  rgb(17, 20,117);
        }
    
        &__line2{
            
            margin-top: 0.5%;
            width: 97px; 
            height: 2px;  
            margin-left: 1%;
            background-color:  rgb(17, 20,117);
          }
    
        &__subtitle{

            margin-top: 1%;
            font-size: 18px;    
        }   
    
        &__text{
        margin-top: 5%;
        font-size:16px;     
        }


    }
}



