.header {
    display: flex;
    flex-direction: column;
    background-image: url('../img/banner.png');
    width: 100%;
    background-size: cover;
    height: 700px;
    &__logo {
        position: relative;
        margin-top: 0.5%;
        height: 100px;
    }
    &__menu {
        width: 40px;
        height: 3px;
        margin-top: 5px;
        margin-left: 15px;
    }
    &__user {
        margin-top: -2%;
        width: 40px;
        height: 40px;
    }
    &__bigcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__firstOptions {
        display: flex;
        font-family: "Oswald";
        color: white;
        margin-top: 2.2%;
        justify-content: space-around;
        width: 25%;
    }
    &__shop:hover {
        text-decoration-line: underline;
    }
    &__location:hover {
        text-decoration-line: underline;
    }
    &__grocery:hover {
        text-decoration-line: underline;
    }
    &__delivery:hover {
        text-decoration-line: underline;
    }
    &__secOptions {
        display: flex;
        font-family: "Oswald";
        color: white;
        margin-top: 2.2%;
        justify-content: space-around;
        width: 26%;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__textBanner {
        text-align: center;
        display: flex;
        font-family: "Oswald";
        font-size: 65px;
        color: white;
        justify-content: center;
        line-height: 1;
    }
    &__containerbtn {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        border-radius: 8px;
        background-color: white;
        font-family: "Oswald";
        color: rgb(17, 20, 117);
        font-size: 23px;
        align-items: center;
        width: 276px;
        height: 73px;
    }
    &__btn:hover {
        background-color: rgb(17, 20, 117);
        color: white;
    }
}


/* MOBILE*/

.header__mobile {
    display: none;
    height: auto;
    margin-top: 21px;
}

.header__menu {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.header_secOptions_mobile {
    display: none;
    .header__user {
        padding: 20px;
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 900px) {
    .header {
        height: 660px;
        &__logo {
            height: 80px;
        }
        &__user {
            margin-top: 15px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
        &__firstOptions {
            display: none;
        }
        &__secOptions {
            display: none;
        }
        &__mobile {
            display: block;
            position: relative;
            z-index: 10;
        }
        &_secOptions_mobile {
            display: block;
        }
        &__textBanner {
            font-size: 50px;
            margin-top: 25%;
        }
        &__btn {
            margin-bottom: 220px;
            font-size: 18px;
            width: 260px;
            height: 50px;
        }
    }
}

@media(min-width: 900px) {
    .header_secOptions_mobile {
        display: none;
    }
}