
.header{
    
    justify-content:space-between;
    display: flex;
    flex-direction: column;
    background-image: url('/img/banner.png');
    width:100%;
    background-size: cover;
    height: 700px;


    &__logo{
        position: relative;
        margin-top:0.5%;
        height:100px;
    }
    &__menu{
        margin-top:-2%;
        width:40px;
        height:40px;
    }
    &__user{
        margin-top:-2%;
        width:40px;
        height:40px;
    }

    &__firstOptions{
        display: flex;
        font-family: "Oswald";
        color: white;
        margin-top:2.2%;  
        justify-content: space-around;
        width: 25%;
       
    }
    
    &__secOptions{
        display: flex;
        font-family: "Oswald";
        color: white;
        margin-top:2.2%;  
        justify-content: space-around;
        width: 26%;
       
    }
    
    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__textBanner{
        margin-top: 9%;
        text-align: center;
        display: flex;
        font-family: "Oswald";
        font-size: 65px;
        color: white; 
        justify-content: center;
        height: 30%;
        line-height: 1;
        
    }
    
    &__btn{
    
      display: flex;
      margin-left: 40%;
      justify-content: center;
      border-radius: 8px;
      background-color: white;
      font-family: "Oswald";
      color: rgb(17, 20,117);
      font-size: 23px;
      align-items: center;
      width: 260px;
      height: 90px;
      margin-bottom: 16%;
    
    }
  
}