

.list{

    display: flex;
    flex-wrap: wrap;
}
.cookie {
    
    align-items: center;
    position: relative;
    width: 260px;
    height: 350px;
    margin-top: 60px;
    margin: 12px;

    &__img {
        width: 260px;
        height: 350px;
    }
    &__star {
        width: 16px;
        height: 16px;
        margin-top: 2px;    
    }
    &__starContainer {
        
      margin-left: 15px;
    }
    &__information {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 120px;
    }
    &__information2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 125px;
        margin-top: 190px;
        left: 0;
        right: 0;
    }
    &__subtitle {
        font-family: "PT Mono";
        color: white;
        font-size: 12px;
        text-align: center;
    }
    &__name {
        font-family: "Oswald";
        color: white;
        font-size: 35px;
        margin-top: 5px;
        text-align: center;
        line-height: 1;
    }
    &__price {
        margin-left: 10px;
        margin-right: 15px;
        font-size: 15px;
        font-family: "Oswald";
        color: white;
    }
}