.footer{

    position:absolute;
    margin-top: 5%;
    height:550px;
    background:  rgb(17, 20,117);
    width:100%;

    &__news{
        display: flex;
    }

    &__info{
        
        font-family: "Oswald";
        font-size: 45px;
        color: white;
        margin-top:4%;  
        margin-left: 4%;
        justify-content: right;
        height: 30%;
        line-height: 1;
    }
    
}

