.footer{

    
    display: flex;
    margin-top: 5%;
    height:550px;
    background:  rgb(17, 20,117);
    width:100%;

    &__news{

        display: flex;
        flex-direction: column;
        justify-content: left;   
        width: 90%;
        height: 100%;
    }

    

    &__info{
        
        font-family: "Oswald";
        font-size: 45px;
        color: white;
        margin-top:15%;  
        margin-left: 8%;
        justify-content: right;
        height: 50%;
        line-height: 1;
    
    }

    &__input{

        width: 70%;
        height: 20%;
        margin-left: 8%;
        margin-bottom: 23%;
        font-family: "PT Mono";
        color: whitesmoke;
        font-size: 15px;
        background: transparent;
        border-bottom-color: whitesmoke;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-radius: 2px;
        outline-color: whitesmoke;
        
    }

    &__links{

        display: flex;
        margin-top: 5%;
        
        
        
    
    }
    &__containerLink{
        display: flex;
        width: 400px;
        margin-left: 35%;
      
       
    }
    &__link--one{
        
        height: 290px;
        width: 600px;
        font-family: "Oswald";
        font-size: 15px;
        color: white;
        margin-top:11%; 
        margin-right: 20%; 
        display: grid;
        text-align: right;
        
    }

    &__link--two{
        
        height: 290px;
        width: 700px;
        font-family: "Oswald";
        font-size: 15px;
        color: white;
        margin-top:11%; 
        margin-left: 10%;
        display: grid;
        text-align: right;
        
    }

    &__social{
        
        margin-top: 33%;
        width: 220px;
        margin-right: 8%;
        height: 6%
      
        }

    &__face{

        width: 30px;
        height: 30px;
    }

    &__twi{
        
        width: 30px;
        height: 30px;
    }

    &__ig{
        
        width: 30px;
        height: 30px;
    }

    &__pint{

        width: 30px;
        height: 30px;
        
    }


    @media(max-width: 900px){ 

        .footer{

            display: flex;
            flex-direction: column;
            margin-top: 6%;
            height:550px;
            background:  rgb(17, 20,117);
            width:100%;
            
        
            &__news{
        
                display: flex;
                flex-direction: column;
                justify-content: center; 
                margin-top: -30%;  
            }
        
            
        
            &__info{
                
                font-size: 25px;
                text-align: left;
                margin-top:0%;  
                margin-left: 8%;
                height: 14%;
                width: 170%;
                line-height: 1;
                
            
            }
        
            &__input{
        
                width: 70%;
                height: 20%;
                margin-left: 8%;
                margin-bottom: 23%;  
               
                
            }
        
            &__links{
        
                margin-top: 40%;
                background-color: darkolivegreen;
                margin-right: 0%;
                width: 300px;
                height: 300px;

    
            }
            &__containerLink{
                display: flex;
                width: 100px;
                margin-left: 0%;
              
               
            }
            &__link--one{
                
                height: 290px;
                width: 600px;
                font-size: 11px;
                margin-top:11%; 
                margin-right: 40%; 
                display: grid;
                text-align: left;
                
            }
        
            &__link--two{
                
                height: 290px;
                width: 700px;
                font-size: 11px;
                margin-top:11%; 
                margin-left: 50%;
                display: grid;
                text-align: left;
                
            }
        
            &__social{
                
                display: none;
                margin-top: 33%;
                width: 220px;
                margin-right: 8%;
                height: 6%;
                }
        

        }
    }
    
}

