.gallery{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    
    
    &__p1{
        
        width: 400px;
        height: 550px;
        margin-left: 4%;    
    }

    &__vertical{
       display: grid; 
      
    }

    &__p2{

        width: 440px;
        height: 270px;
        margin-left: 4%;
        margin-right: 4%;
           
    }

    &__p3{

        width: 440px;
        height: 250px;
        margin-top: 6%;
        margin-left: 4%;
        margin-right: 4%;
        
    }

    &__p4{
        width: 400px;
        height: 550px;
        margin-right: 4%;
        
    }
}

@media(max-width: 900px){
    .gallery{


        &__p1{
            
            width: 200px;
            height: 275px;
            margin-left: 4%; 
            margin-right: 4%;   
        }
    
        &__vertical{
           display: grid; 
          
        }
    
        &__p2{
    
            width: 220px;
            height: 135px;
            margin-left: 4%;
            margin-right: 4%;
               
        }
    
        &__p3{
    
            width: 220px;
            height: 125px;
            margin-top: 6%;
            margin-left: 4%;
            margin-right: 4%;
            
        }
    
        &__p4{
            
            width: 200px;
            height: 275px;
            margin-right: 4%;
            margin-left: 4%; 
            
        }

    }
}