* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.add--photo {
    margin-top: 6%;
    margin-left: 4%;
    font-style: italic;
    font-family: "Chivo";
    font-size: 20px;
    color: rgb(17, 20, 117);
}

.add--photo:hover {
    text-decoration-line: underline;
}

.shop--cookies {
    font-family: "Oswald";
    color: rgb(17, 20, 117);
    font-size: 50px;
    margin-top: 5%;
    margin-left: 4%;
}

.margin {
    width: 100%;
    height: 720px;
}

.hidden {
    display: none !important;
}

.error {
    margin-top: 10px;
    color: rgb(160, 51, 32);
    font-family: "PT mono";
    font-size: 13px;
}

@media(max-width: 900px) {
    .shop--cookies {
        font-size: 30px;
        margin-top: 9%;
        display: flex;
        justify-content: center;
    }
    .add--photo {
        margin-top: 8%;
        margin-left: 35px;
        font-size: 14px;
    }
}