.interaction {
    display: flex;
    justify-content: center;
    &__images {
        margin-top: 6%;
        position: relative;
        width: 550px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__img1 {
        position: absolute;
        width: 390px;
        height: 390px;
    }
    &__product {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 550px;
        height: 600px;
    }
    &__container {
        background-color: rgb(236, 241, 231);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 40%;
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__question {
        font-family: "PT Mono";
        color: rgb(17, 20, 117);
        font-size: 12px;
        text-align: center;
        margin-top: 45px;
    }
    &__title {
        font-family: "Oswald";
        color: rgb(17, 20, 117);
        font-size: 54px;
        text-align: center;
        margin-top: 17px;
        line-height: 1;
    }
    &__flavour {
        font-family: "Chivo";
        color: rgb(17, 20, 117);
        font-size: 18px;
        text-align: center;
        margin-top: 50px;
    }
    &__checkbox1 {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    &__check1 {
        margin-top: 30px;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
    }
    &__vainilla1 {
        font-family: "PT Mono";
        font-style: italic;
        color: rgb(17, 20, 117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }
    &__check2 {
        margin-top: 30px;
        margin-left: 6%;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
    }
    &__chocolate1 {
        font-family: "PT Mono";
        font-style: italic;
        color: rgb(17, 20, 117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }
    &__chips {
        font-family: "Chivo";
        color: rgb(17, 20, 117);
        font-size: 18px;
        text-align: center;
        margin-top: 60px;
    }
    &__checkbox2 {
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    &__check3 {
        margin-top: 30px;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
    }
    &__vainilla2 {
        font-family: "PT Mono";
        font-style: italic;
        color: rgb(17, 20, 117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }
    &__check4 {
        margin-top: 30px;
        margin-left: 6%;
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 50%;
    }
    &__chocolate2 {
        font-family: "PT Mono";
        font-style: italic;
        color: rgb(17, 20, 117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }
    &__btn {
        margin-top: 12%;
        display: flex;
        justify-content: center;
        width: 300px;
        height: 50px;
        border-radius: 8px;
        background-color: transparent;
        border-color: rgb(17, 20, 117);
        border-width: 2px;
         border-style: solid;
        font-family: "Oswald";
        display: flex;
        color:rgb(17, 20, 117);
        font-size: 20px;
        align-items: center;
    }
    &__btn:hover{
        background-color:rgb(17, 20, 117);
        color:white;
      }
}

@media(max-width: 1050px) {
    .interaction {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        &__images {
            margin-top: 12%;
            width: 86%;
            height: 430px;
            border-top-left-radius: 10px;
        }
        &__img1 {
            width: 300px;
            height: 300px;
        }
        &__product {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100%;
            height: 430px;
        }
        &__container {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 86%;
            margin-top: 0%;
        }
        &__question {
            font-size: 10px;
            text-align: center;
            margin-top: 45px;
        }
        &__title {
            font-size: 34px;
            text-align: center;
            margin-top: 13px;
        }
        &__flavour {
            font-size: 14px;
            text-align: center;
            margin-top: 30px;
        }
        &__checkbox1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0%;
        }
        &__check1 {
            position: absolute;
            margin-top: 0px;
            margin-left: 100px;
            margin-bottom: 20px;
            height: 15px;
            width: 15px;
        }
        &__vainilla1 {
            font-size: 16px;
            text-align: center;
            margin-top: 18px;
            margin-left: 0px;
        }
        &__check2 {
            position: absolute;
            margin-top: 54px;
            margin-left: 100px;
            height: 15px;
            width: 15px;
        }
        &__chocolate1 {
            font-size: 16px;
            text-align: center;
            margin-top: 18px;
            margin-left: 0px;
        }
        &__chips {
            font-size: 14px;
            text-align: center;
            margin-top: 30px;
        }
        &__checkbox2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0%;
        }
        &__check3 {
            position: absolute;
            margin-top: 0px;
            margin-left: 100px;
            margin-bottom: 20px;
            height: 15px;
            width: 15px;
        }
        &__vainilla2 {
            font-size: 16px;
            text-align: center;
            margin-top: 18px;
            margin-left: 0px;
        }
        &__check4 {
            position: absolute;
            margin-top: 54px;
            margin-left: 100px;
            height: 15px;
            width: 15px;
        }
        &__chocolate2 {
            font-size: 16px;
            text-align: center;
            margin-top: 18px;
            margin-left: 0px;
        }
        &__btn {
            margin-top: 8%;
            margin-bottom: 7%;
            width: 230px;
            height: 40px;
            font-size: 16px;
        }
    }
}