.interaction{

display: flex;
justify-content: center;
    &__images{
           
        margin-left: 8%;
        margin-top: 6%;
        position: relative;
        width:550px;
        height: 600px;
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
    
    }
    &__img1{
        position: absolute;
        width: 390px;
        height: 390px;
}
    &__product{

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; 
        width:550px;
        height: 600px;
    }

    &__container{
        
        background-color: rgb(236, 241, 231);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 40%;
        margin-top: 6%;
        margin-right: 8%;
    }

    &__question{

        font-family: "PT Mono";
        color:  rgb(17, 20,117);
        font-size: 12px;
        text-align: center;
        margin-top: 45px;

    }

    &__title{

        font-family: "Oswald";
        color:  rgb(17, 20,117);
        font-size: 54px;
        text-align: center;
        margin-top: 17px;
        line-height: 1;
        
    }


    &__flavour{

        font-family: "Chivo";
        color:  rgb(17, 20,117);
        font-size: 18px;
        text-align: center;
        margin-top: 50px;
        
    }

    &__checkbox1{

        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    &__check1{
        
        margin-top: 30px;
        height: 20px;
        width: 20px;
        background-color:white;
        border-radius: 50%;
    }

    &__vainilla1{

        font-family: "PT Mono";
        font-style: italic;
        color:  rgb(17, 20,117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }


    &__check2{

        margin-top: 30px;
        margin-left: 6%;
        height: 20px;
        width: 20px;
        background-color:white;
        border-radius: 50%;
    }

    &__chocolate1{

        font-family: "PT Mono";
        font-style: italic;
        color:  rgb(17, 20,117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }

    &__chips{

        font-family: "Chivo";
        color:  rgb(17, 20,117);
        font-size: 18px;
        text-align: center;
        margin-top: 60px;
    }

    &__checkbox2{

        display: flex;
        justify-content: center;
        margin-top: 3%;
    }

    &__check3{
        
        margin-top: 30px;
        height: 20px;
        width: 20px;
        background-color:white;
        border-radius: 50%;
    }

    &__vainilla2{

        font-family: "PT Mono";
        font-style: italic;
        color:  rgb(17, 20,117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }

    &__check4{

        margin-top: 30px;
        margin-left: 6%;
        height: 20px;
        width: 20px;
        background-color:white;
        border-radius: 50%;
    }

    &__chocolate2{

        font-family: "PT Mono";
        font-style: italic;
        color:  rgb(17, 20,117);
        font-size: 21px;
        text-align: center;
        margin-top: 26px;
        margin-left: 25px;
    }

    &__btn{
        
        margin-top: 12%;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        width: 375px;
        height: 50px;
        border-radius: 8px;
        background-color:  rgb(17, 20,117);  
      
      }

      &__textbtn{
    
        font-family: "Oswald";
        display: flex;
        color: white;
        font-size: 20px;
        align-items: center;
        
      }
      

    

}