.order {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
    }
    &__name {
        font-family: "PT mono";
        font-size: 15px;
        color: rgb(17, 20, 117);
        margin-left: 10px;
    }
    &__subtitle {
        font-family: "Chivo";
        font-size: 15px;
        color: rgb(17, 20, 117);
    }
    &__list {
        margin-top: 50px;
    }
    &__title {
        font-family: "Oswald";
        font-size: 40px;
        color: rgb(17, 20, 117);
        text-align: center;
    }
    &__product {
        background-color: rgb(228, 237, 241);
        display: flex;
        margin-top: 20px;
        width: 800px;
    }
    &__img {
        width: 200px;
        height: 200px;
    }
    &__productInfo {
        margin-left: 20px;
        margin-top: 20px;
        width: 500px;
    }
    &__order {
        font-family: "PT Mono";
        color: rgb(17, 20, 117);
        font-size: 12px;
    }
    &__cookieName {
        font-family: "Oswald";
        font-size: 28px;
        color: rgb(17, 20, 117);
        line-height: 1;
        height: 55px;
        width: 450px;
    }
    &__symbols {
        margin-right: 30px;
        margin-top: 30px;
    }
    &__equis {
        width: 200px;
        height: 18px;
        opacity: 0;
    }
    &__price {
        font-family: "Oswald";
        font-size: 18px;
        color: rgb(17, 20, 117);
        margin-top: 100px;
        margin-left: 30px;
    }
}

@media(max-width: 900px) {
    .order {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__name {
            font-size: 10px;
            margin-left: 10px;
        }
        &__subtitle {
            font-size: 10px;
        }
        &__list {
            margin-top: 40px;
        }
        &__title {
            font-size: 30px;
        }
        &__product {
            background-color: rgb(228, 237, 241);
            display: flex;
            margin-top: 20px;
            width: 400px;
            height: 150px;
        }
        &__img {
            width: 130px;
            height: 150px;
        }
        &__productInfo {
            margin-left: 10px;
            margin-top: 10px;
            width: 500px;
        }
        &__order {
            font-size: 10px;
        }
        &__cookieName {
            font-family: "Oswald";
            font-size: 18px;
            color: rgb(17, 20, 117);
            line-height: 1;
            height: 50px;
            width: 170px;
        }
        &__symbols {
            margin-right: 13px;
            margin-top: 10px;
        }
        &__equis {
            height: 13px;
        }
        &__price {
            font-family: "Oswald";
            font-size: 12px;
            color: rgb(17, 20, 117);
            margin-top: 90px;
            margin-left: 18px;
        }
    }
}