.productForm{

    &__label{
        display: block;
        margin-top: 10px;
        margin-left: 20px;
    }

    &--checkbox{
        margin-top: 2px;
       
    }

    &__input{
        display: block;
        margin-left: 20px;
    }

    &__select{
        margin-top: 15px;
        display: block;
        margin-left: 20px;
    }

    &__btn{
        margin-top: 15px;
        display: block;
        margin-left: 20px;
    }

    &__success{
        color: rgb(16, 187, 67);
    }

    &__error{
        color: rgb(187, 16, 16);
    }

    &__img{
        width: 200px;
        margin: 4px 0;
        margin-left: 20px;
    }


}