.productDetail {
    display: flex;
    flex-direction: column;
    background-size: cover;
   
    &__logo2 {
        position: relative;
        height: 100px;
    }
    &__menu {
        margin-top: -2%;
        width: 40px;
        height: 40px;
    }
    &__user2 {
        margin-top: -2%;
        width: 40px;
        height: 40px;
    }
    &__bag {
        margin-top: -2%;
        margin-right: 2%;
        width: 40px;
        height: 40px;
    }

    &__firstOptions {
        display: flex;
        font-family: "Oswald";
        color: rgb(17, 20, 117);
        margin-top: 2.2%;
        justify-content: space-around;
        width: 25%;
    }
    &__shop:hover {
        text-decoration-line: underline;
    }
    &__location:hover {
        text-decoration-line: underline;
    }
    &__grocery:hover {
        text-decoration-line: underline;
    }
    &__delivery:hover {
        text-decoration-line: underline;
    }
    &__secOptions {
        display: flex;
        font-family: "Oswald";
        color: rgb(17, 20, 117);
        margin-top: 2.2%;
        justify-content: space-around;
        width: 26%;
    }
    &__nav {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }
    &__title{
        text-align: center;
        font-family: "Oswald";
        margin-top: 60px;
        font-size: 45px;
        color: rgb(17, 20, 117);
        justify-content: center;
        line-height: 1;
    }
    &__mobile {
        display: none;
        height: auto;
        margin-top: 15px;
        margin-left: 20px;
    }
    &__menu {
        margin-top: 5px;
        width: 25px;
        height: 3px;
        background-color: rgb(17, 20, 117);
        border-radius: 5px;
    }
}


/* MOBILE*/

.store_secOptions_mobile {
    display: none;
    .productDetail__user2 {
        padding: 20px;
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 900px) {
    .productDetail {
        height: 560px;
        &__logo2 {
            height: 75px;
        }
        &__nav {
            height: 75px;
        }
        &__user2 {
            margin-top: 15px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
        &__bag {
            margin-top: 15px;
            width: 35px;
            height: 35px;
            margin-right: 15px;
        }
        &__firstOptions {
            display: none;
        }
        &__secOptions {
            display: none;
        }
        &__mobile {
            display: block;
            position: relative;
            z-index: 10;
        }
        &_secOptions_mobile {
            display: block;
        }
       
    }
}

@media(min-width: 900px) {
    .productDetail_secOptions_mobile {
        display: none;
    }
}