.product{

    &__container{
        display: flex;
    }

    &__modal1{

      margin-top: 2.5%;
      background-color: rgb(231,227,218);
      width: 310px;
      height: 400px;
      margin-left: 4%;
      border-radius: 6px;
    }

    &--1{
       width: 310px; 
       height: 240px;
    }
    
}