
@import'./_general';
@import'./_banner';

.attributes{

    display: flex;
    justify-content: center;
}

.title{

    font-family: "Oswald";
    color: blue;
    font-size: 60px;
    margin-top:6%;  
}

