@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  margin: 0;
}

body {
  background-color: white;
}

.add--photo {
  margin-top: 6%;
  margin-left: 4%;
  text-decoration: underline;
  font-style: italic;
  font-family: "Chivo";
  font-size: 20px;
  color: #111475;
}

.shop--cookies {
  font-family: "Oswald";
  color: #111475;
  font-size: 50px;
  margin-top: 5%;
  margin-left: 4%;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/banner.png");
  width: 100%;
  background-size: cover;
  height: 700px;
  /* MOBILE*/
}

.header__logo {
  position: relative;
  margin-top: 0.5%;
  height: 100px;
}

.header__menu {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.header__user {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.header__firstOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: white;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.header__secOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: white;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 26%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__textBanner {
  margin-top: 9%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  font-size: 65px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  line-height: 1;
}

.header__containerbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: white;
  font-family: "Oswald";
  color: #111475;
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 276px;
  height: 73px;
  margin-bottom: 15%;
}

.header__mobile {
  display: none;
}

.header__mobile .header__menu {
  padding: 20px;
  width: 40px;
  height: 40px;
}

.header__secOptions__mobile {
  display: none;
}

.header__secOptions__mobile .header__user {
  padding: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  .header__firstOptions {
    display: none;
  }
  .header__secOptions {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .header__secOptions__mobile {
    display: block;
  }
  .header__textBanner {
    font-size: 55px;
    margin-top: 25%;
  }
  .header__btn {
    margin-bottom: 200px;
    font-size: 18px;
    width: 270px;
    height: 60px;
  }
}

.attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes_bigtitle {
  font-family: "Oswald";
  color: #111475;
  font-size: 50px;
  margin-top: 13%;
}

.attributes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes__line1 {
  margin-top: 0.5%;
  width: 155px;
  height: 2px;
  margin-right: 2%;
  background-color: #111475;
}

.attributes__line2 {
  margin-top: 0.5%;
  width: 155px;
  height: 2px;
  margin-left: 2%;
  background-color: #111475;
}

.attributes__subtitle {
  margin-top: 0.5%;
  font-family: "Chivo";
  font-size: 30px;
  color: #111475;
}

.attributes__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes__text {
  margin-top: 4%;
  font-family: "Chivo";
  text-align: center;
  color: #111475;
  font-size: 22px;
}

.attributes__cookie {
  margin-top: 1%;
  position: absolute;
  width: 340px;
  height: 340px;
  right: 30px;
}

.attributes__flour {
  margin-top: -5%;
  position: absolute;
  width: 615px;
  height: 410px;
  left: 45px;
}

.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7%;
  background-image: url("../img/advertising.png");
  width: 100%;
  background-size: cover;
  height: 500px;
}

.advertising__info {
  margin-top: 7%;
  margin-right: 5%;
  text-align: right;
  font-family: "Oswald";
  font-size: 65px;
  color: white;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 30%;
  line-height: 1;
}

.advertising__btn {
  margin-left: 75.3%;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 276px;
  height: 73px;
  border-radius: 8px;
  background-color: #111475;
}

.advertising__textbtn {
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__p1 {
  width: 400px;
  height: 550px;
  margin-left: 4%;
}

.gallery__vertical {
  display: -ms-grid;
  display: grid;
}

.gallery__p2 {
  width: 440px;
  height: 270px;
}

.gallery__p3 {
  width: 440px;
  height: 250px;
  margin-top: 6%;
}

.gallery__p4 {
  width: 400px;
  height: 550px;
  margin-right: 4%;
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  height: 550px;
  background: #111475;
  width: 100%;
}

.footer__news {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 40%;
  height: 100%;
}

.footer__info {
  font-family: "Oswald";
  font-size: 45px;
  color: white;
  margin-top: 15%;
  margin-left: 8%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 30%;
  line-height: 1;
}

.footer__input {
  width: 90%;
  height: 20%;
  margin-left: 8%;
  margin-bottom: 23%;
  font-family: "PT Mono";
  color: whitesmoke;
  font-size: 15px;
  background: transparent;
  border-bottom-color: whitesmoke;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 2px;
  outline-color: whitesmoke;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__link--one {
  height: 50%;
  font-family: "Oswald";
  font-size: 15px;
  color: white;
  margin-top: 11%;
  margin-right: 24%;
  display: -ms-grid;
  display: grid;
  text-align: right;
}

.footer__link--two {
  height: 50%;
  font-family: "Oswald";
  font-size: 15px;
  color: white;
  margin-top: 11%;
  margin-right: -16%;
  display: -ms-grid;
  display: grid;
  text-align: right;
}

.footer__social {
  margin-top: 55%;
  margin-right: 8%;
  height: 6%;
}

.footer__face {
  width: 30px;
  height: 30px;
}

.footer__twi {
  width: 30px;
  height: 30px;
}

.footer__ig {
  width: 30px;
  height: 30px;
}

.footer__pint {
  width: 30px;
  height: 30px;
}

@media (max-width: 900px) {
  .footer .footer {
    display: none;
  }
  .footer .footer__news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    height: 100%;
  }
  .footer .footer__info {
    height: 25%;
    width: 200%;
    font-size: 28px;
  }
  .footer .footer__input {
    width: 100%;
  }
  .footer .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50%;
    margin-right: 30%;
  }
  .footer .footer__link--one {
    font-size: 13px;
    margin-right: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .footer .footer__link--two {
    height: 30%;
    font-size: 13px;
    margin-right: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .footer .footer__social {
    display: table-column;
    margin-bottom: 2%;
    margin-right: 2%;
  }
}

.product {
  /* CARD 1*/
  /* CARD 2*/
  /* CARD 3*/
  /* CARD 4*/
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__modal1 {
  margin-top: 2.5%;
  background-color: #e7e3da;
  width: 310px;
  height: 400px;
  margin-left: 4%;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--1 {
  width: 310px;
  height: 230px;
}

.product__title {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
}

.product__name {
  font-family: "Oswald";
  color: #111475;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  line-height: 1;
}

.product__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__box1 {
  font-family: "Oswald";
  color: #111475;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 35px;
}

.product__price {
  font-family: "Oswald";
  color: #111475;
  font-size: 12px;
  margin-left: 74px;
  margin-top: 35px;
}

.product__modal2 {
  margin-top: 2.5%;
  background-color: #e6ebee;
  width: 310px;
  height: 400px;
  margin-left: 2%;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--2 {
  width: 310px;
  height: 230px;
}

.product__modal3 {
  margin-top: 2.5%;
  background-color: #f1ecf7;
  width: 310px;
  height: 400px;
  margin-left: 2%;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--3 {
  width: 310px;
  height: 230px;
}

.product__modal4 {
  margin-top: 2.5%;
  background-color: #f8f4f1;
  width: 310px;
  height: 400px;
  margin-left: 2%;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--4 {
  width: 312px;
  height: 230px;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__images {
  margin-left: 8%;
  margin-top: 6%;
  position: relative;
  width: 550px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__img1 {
  position: absolute;
  width: 390px;
  height: 390px;
}

.interaction__product {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 550px;
  height: 600px;
}

.interaction__container {
  background-color: #ecf1e7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40%;
  margin-top: 6%;
  margin-right: 8%;
}

.interaction__question {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
  text-align: center;
  margin-top: 45px;
}

.interaction__title {
  font-family: "Oswald";
  color: #111475;
  font-size: 54px;
  text-align: center;
  margin-top: 17px;
  line-height: 1;
}

.interaction__flavour {
  font-family: "Chivo";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.interaction__checkbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.interaction__check1 {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__vainilla1 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__check2 {
  margin-top: 30px;
  margin-left: 6%;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__chocolate1 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__chips {
  font-family: "Chivo";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}

.interaction__checkbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.interaction__check3 {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__vainilla2 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__check4 {
  margin-top: 30px;
  margin-left: 6%;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__chocolate2 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__btn {
  margin-top: 12%;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 375px;
  height: 50px;
  border-radius: 8px;
  background-color: #111475;
}

.interaction__textbtn {
  font-family: "Oswald";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */