@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

.add--photo {
  margin-top: 6%;
  margin-left: 4%;
  font-style: italic;
  font-family: "Chivo";
  font-size: 20px;
  color: #111475;
}

.add--photo:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.shop--cookies {
  font-family: "Oswald";
  color: #111475;
  font-size: 50px;
  margin-top: 5%;
  margin-left: 4%;
}

.margin {
  width: 100%;
  height: 720px;
}

.hidden {
  display: none !important;
}

.error {
  margin-top: 10px;
  color: #a03320;
  font-family: "PT mono";
  font-size: 13px;
}

@media (max-width: 900px) {
  .shop--cookies {
    font-size: 30px;
    margin-top: 9%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .add--photo {
    margin-top: 8%;
    margin-left: 35px;
    font-size: 14px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-size: cover;
  height: 700px;
}

.header__logo {
  position: relative;
  margin-top: 0.5%;
  height: 100px;
}

.header__menu {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.header__user {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.header__bigcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__firstOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: white;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.header__shop {
  text-decoration: none;
  color: white;
}

.header__shop:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__location:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__grocery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__delivery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header__secOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: white;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 26%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__textBanner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  font-size: 65px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.header__containerbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: white;
  font-family: "Oswald";
  color: #111475;
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 276px;
  height: 73px;
}

.header__btn:hover {
  background-color: #111475;
  color: white;
}

.header__mobile {
  display: none;
  height: auto;
  margin-top: 15px;
  margin-left: 20px;
}

.header__menu {
  margin-top: 5px;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* MOBILE*/
.header__secOptions__mobile {
  display: none;
}

.header__secOptions__mobile .header__user {
  padding: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  .header {
    height: 660px;
  }
  .header__logo {
    height: 80px;
  }
  .header__user {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .header__firstOptions {
    display: none;
  }
  .header__secOptions {
    display: none;
  }
  .header__mobile {
    display: block;
    position: relative;
    z-index: 10;
  }
  .header__secOptions__mobile {
    display: block;
  }
  .header__textBanner {
    font-size: 50px;
    margin-top: 25%;
  }
  .header__btn {
    margin-bottom: 220px;
    font-size: 18px;
    width: 260px;
    height: 50px;
  }
}

@media (min-width: 900px) {
  .header_secOptions_mobile {
    display: none;
  }
}

.attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes_bigtitle {
  font-family: "Oswald";
  color: #111475;
  font-size: 50px;
  margin-top: 10%;
}

.attributes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes__line1 {
  margin-top: 0.5%;
  width: 155px;
  height: 2px;
  margin-right: 2%;
  background-color: #111475;
}

.attributes__line2 {
  margin-top: 0.5%;
  width: 155px;
  height: 2px;
  margin-left: 2%;
  background-color: #111475;
}

.attributes__subtitle {
  margin-top: 0.5%;
  font-family: "Chivo";
  font-size: 30px;
  color: #111475;
}

.attributes__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.attributes__text {
  margin-top: 4%;
  font-family: "Chivo";
  text-align: center;
  color: #111475;
  font-size: 22px;
}

.attributes__cookie {
  margin-top: 1%;
  position: absolute;
  width: 340px;
  height: 340px;
  right: 30px;
}

.attributes__flour {
  margin-top: -5%;
  position: absolute;
  width: 615px;
  height: 410px;
  left: 45px;
}

@media (max-width: 1200px) {
  .attributes__cookie {
    display: none;
  }
  .attributes__flour {
    display: none;
  }
  .attributes_bigtitle {
    font-size: 30px;
    margin-top: 11%;
    margin-left: 9%;
  }
  .attributes__line1 {
    margin-top: 0.5%;
    width: 97px;
    height: 2px;
    margin-right: 1%;
    background-color: #111475;
  }
  .attributes__line2 {
    margin-top: 0.5%;
    width: 97px;
    height: 2px;
    margin-left: 1%;
    background-color: #111475;
  }
  .attributes__subtitle {
    margin-top: 1%;
    font-size: 18px;
  }
  .attributes__text {
    margin-top: 5%;
    font-size: 16px;
  }
}

.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7%;
  background-image: url("../img/advertising.png");
  width: 100%;
  background-size: cover;
  height: 500px;
}

.advertising__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 60px;
}

.advertising__info {
  text-align: right;
  font-family: "Oswald";
  font-size: 65px;
  color: white;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  line-height: 1;
}

.advertising__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 276px;
  height: 73px;
  border-radius: 8px;
  margin-top: 30px;
  background-color: #111475;
  font-family: "Oswald";
  display: flex;
  color: white;
  font-size: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertising__btn:hover {
  background-color: white;
  color: #111475;
}

@media (max-width: 700px) {
  .advertising {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    margin-top: 10%;
  }
  .advertising__info {
    text-align: center;
    font-size: 48px;
    line-height: 1;
  }
  .advertising__content {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advertising__btn {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 260px;
    height: 50px;
    font-size: 18px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__p1 {
  width: 400px;
  height: 550px;
  margin-left: 4%;
}

.gallery__vertical {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__p2 {
  width: 460px;
  height: 270px;
  margin-left: 4%;
  margin-right: 4%;
}

.gallery__p3 {
  width: 460px;
  height: 250px;
  margin-top: 6%;
  margin-left: 4%;
  margin-right: 4%;
}

.gallery__p4 {
  width: 400px;
  height: 550px;
  margin-right: 4%;
}

@media (max-width: 600px) {
  .gallery__p1 {
    width: 380px;
    height: 275px;
    margin-left: 35px;
    margin-right: 14px;
  }
  .gallery__vertical {
    display: -ms-grid;
    display: grid;
    margin-right: 70px;
  }
  .gallery__p2 {
    width: 220px;
    height: 135px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .gallery__p3 {
    width: 220px;
    height: 125px;
    margin-top: 6%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .gallery__p4 {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  background: #111475;
  width: 100%;
}

.footer__login {
  margin-top: 0px;
}

.footer__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.footer__containerinfo {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

.footer__info {
  font-family: "Oswald";
  font-size: 45px;
  color: white;
  line-height: 1;
}

.footer__suscription {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.footer__input {
  width: 100%;
  height: 60px;
  font-family: "PT Mono";
  color: whitesmoke;
  font-size: 15px;
  background: transparent;
  border-bottom-color: whitesmoke;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-radius: 2px;
  outline-color: whitesmoke;
}

.footer ::-webkit-input-placeholder {
  color: white;
}

.footer :-ms-input-placeholder {
  color: white;
}

.footer ::-ms-input-placeholder {
  color: white;
}

.footer ::placeholder {
  color: white;
}

.footer__links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__containerLink {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link--one {
  height: 400px;
  width: 100px;
  font-family: "Oswald";
  font-size: 15px;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: right;
}

.footer__link--two {
  height: 400px;
  font-family: "Oswald";
  font-size: 15px;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: right;
}

.footer__socialcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social {
  margin-right: 60px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__face {
  width: 30px;
  height: 30px;
}

.footer__twi {
  width: 30px;
  height: 30px;
}

.footer__ig {
  width: 30px;
  height: 30px;
}

.footer__pint {
  width: 30px;
  height: 30px;
}

@media (max-width: 900px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
  }
  .footer__news {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__containerinfo {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }
  .footer__info {
    font-size: 30px;
  }
  .footer__suscription {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .footer__input {
    width: 80%;
    height: 40px;
  }
  .footer__links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__containerLink {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__link--one {
    height: 300px;
    font-size: 12px;
    text-align: left;
  }
  .footer__link--two {
    height: 300px;
    font-size: 12px;
    text-align: left;
  }
  .footer__socialcontainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 530px;
  }
  .footer__social {
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .footer__login {
    margin-top: 0px;
  }
}

.product {
  /* CARD 1*/
  /* CARD 2*/
  /* CARD 3*/
  /* CARD 4*/
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__firstmodals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.product__secmodals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.product__modal1 {
  margin-top: 2.5%;
  background-color: #e7e3da;
  width: 310px;
  height: 400px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--1 {
  width: 310px;
  height: 230px;
}

.product__title {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
  text-align: center;
  margin-top: 3px;
}

.product__name {
  font-family: "Oswald";
  color: #111475;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  line-height: 1;
}

.product__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__box1 {
  font-family: "Oswald";
  color: #111475;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 35px;
}

.product__price {
  font-family: "Oswald";
  color: #111475;
  font-size: 12px;
  margin-left: 74px;
  margin-top: 35px;
}

.product__modal2 {
  margin-top: 2.5%;
  background-color: #e6ebee;
  width: 310px;
  height: 400px;
  margin-left: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--2 {
  width: 310px;
  height: 230px;
}

.product__modal3 {
  margin-top: 2.5%;
  background-color: #f1ecf7;
  width: 310px;
  height: 400px;
  margin-left: 3px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--3 {
  width: 310px;
  height: 230px;
}

.product__modal4 {
  margin-top: 2.5%;
  background-color: #f8f4f1;
  width: 310px;
  height: 400px;
  margin-left: 22px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.product--4 {
  width: 312px;
  height: 230px;
}

@media (max-width: 700px) {
  .product {
    /* CARD 1*/
    /* CARD 2*/
    /* CARD 3*/
    /* CARD 4*/
  }
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__firstmodals {
    margin-left: 0px;
    margin-top: 8px;
  }
  .product__secmodals {
    margin-left: 0px;
  }
  .product__modal1 {
    background-color: #e7e3da;
    margin-top: 4%;
    width: 220px;
    height: 325px;
    margin-left: 0px;
  }
  .product--1 {
    width: 220px;
    height: 180px;
  }
  .product__title {
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
  }
  .product__name {
    font-size: 20px;
  }
  .product__box1 {
    font-size: 7px;
  }
  .product__price {
    font-size: 7px;
    margin-left: 74px;
    margin-top: 35px;
  }
  .product__modal2 {
    background-color: #e6ebee;
    margin-top: 4%;
    width: 220px;
    height: 325px;
    margin-left: 15px;
  }
  .product--2 {
    width: 220px;
    height: 180px;
  }
  .product__modal3 {
    background-color: #f1ecf7;
    margin-top: 4%;
    width: 220px;
    height: 325px;
    margin-left: 0px;
  }
  .product--3 {
    width: 220px;
    height: 180px;
  }
  .product__modal4 {
    background-color: #f8f4f1;
    margin-top: 4%;
    width: 220px;
    height: 325px;
    margin-left: 15px;
  }
  .product--4 {
    width: 222px;
    height: 180px;
  }
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__images {
  margin-top: 6%;
  position: relative;
  width: 550px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction__img1 {
  position: absolute;
  width: 390px;
  height: 390px;
}

.interaction__product {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 550px;
  height: 600px;
}

.interaction__container {
  background-color: #ecf1e7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40%;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction__question {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
  text-align: center;
  margin-top: 45px;
}

.interaction__title {
  font-family: "Oswald";
  color: #111475;
  font-size: 54px;
  text-align: center;
  margin-top: 17px;
  line-height: 1;
}

.interaction__flavour {
  font-family: "Chivo";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.interaction__checkbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.interaction__check1 {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__vainilla1 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__check2 {
  margin-top: 30px;
  margin-left: 30px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__chocolate1 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 15px;
}

.interaction__chips {
  font-family: "Chivo";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}

.interaction__checkbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
}

.interaction__check3 {
  margin-top: 30px;
  height: 20px;
  width: 20px;
  margin-left: 30px;
  background-color: white;
  border-radius: 50%;
}

.interaction__vainilla2 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 25px;
}

.interaction__check4 {
  margin-top: 30px;
  margin-left: 30px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.interaction__chocolate2 {
  font-family: "PT Mono";
  font-style: italic;
  color: #111475;
  font-size: 21px;
  text-align: center;
  margin-top: 26px;
  margin-left: 15px;
}

.interaction__btn {
  margin-top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: transparent;
  border-color: #111475;
  border-width: 1px;
  border-style: solid;
  font-family: "Oswald";
  display: flex;
  color: #111475;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaction__btn:hover {
  background-color: #111475;
  color: white;
}

@media (max-width: 1050px) {
  .interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .interaction__images {
    margin-top: 12%;
    width: 86%;
    height: 430px;
    border-top-left-radius: 10px;
  }
  .interaction__img1 {
    width: 300px;
    height: 300px;
  }
  .interaction__product {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: 430px;
  }
  .interaction__container {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 86%;
    margin-top: 0%;
  }
  .interaction__question {
    font-size: 10px;
    text-align: center;
    margin-top: 45px;
  }
  .interaction__title {
    font-size: 34px;
    text-align: center;
    margin-top: 13px;
  }
  .interaction__flavour {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
  }
  .interaction__checkbox1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0%;
  }
  .interaction__check1 {
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 20px;
    height: 15px;
    width: 15px;
  }
  .interaction__vainilla1 {
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    margin-left: 0px;
  }
  .interaction__check2 {
    position: absolute;
    margin-top: 54px;
    margin-left: 100px;
    height: 15px;
    width: 15px;
  }
  .interaction__chocolate1 {
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    margin-left: 0px;
  }
  .interaction__chips {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
  }
  .interaction__checkbox2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0%;
  }
  .interaction__check3 {
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 20px;
    height: 15px;
    width: 15px;
  }
  .interaction__vainilla2 {
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    margin-left: 0px;
  }
  .interaction__check4 {
    position: absolute;
    margin-top: 54px;
    margin-left: 100px;
    height: 15px;
    width: 15px;
  }
  .interaction__chocolate2 {
    font-size: 16px;
    text-align: center;
    margin-top: 18px;
    margin-left: 0px;
  }
  .interaction__btn {
    margin-top: 8%;
    margin-bottom: 7%;
    width: 230px;
    height: 40px;
    font-size: 16px;
  }
}

.carrousel {
  position: absolute;
  overflow: hidden;
  height: 700px;
}

.carrousel__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.carrousel__img {
  height: 100%;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.filters__text {
  font-family: "Oswald";
  color: #111475;
  font-size: 45px;
  margin-left: 25px;
}

.filters__container {
  margin-left: 710px;
}

.filters__select {
  width: 200px;
  height: 50px;
  font-family: "PT Mono";
  color: #111475;
  background: transparent;
  font-size: 15px;
  border-width: 2px;
  border-color: #111475;
  border-radius: 2px;
  outline-color: #111475;
  margin-top: 10px;
  margin-right: 30px;
}

@media (max-width: 1400px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filters__text {
    font-size: 40px;
  }
  .filters__container {
    margin-top: 20px;
    margin-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filters__select {
    width: 300px;
    height: 38px;
    font-size: 13px;
    border-width: 2px;
  }
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-size: cover;
  height: 700px;
  background-image: url("../img/productBanner.png");
}

.store__logo2 {
  position: relative;
  height: 100px;
}

.store__menu {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.store__user2 {
  margin-top: -9px;
  width: 40px;
  height: 40px;
}

.store__bag {
  margin-top: -2%;
  margin-right: 2%;
  width: 40px;
  height: 40px;
}

.store__bigcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.store__firstOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: #111475;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.store__shop:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.store__location:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.store__grocery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.store__delivery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.store__secOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: #111475;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 26%;
}

.store__nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.store__textBanner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  font-size: 65px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.store__mobile {
  display: none;
  height: auto;
  margin-top: 15px;
  margin-left: 20px;
}

.store__menu {
  margin-top: 5px;
  width: 25px;
  height: 3px;
  background-color: #111475;
  border-radius: 5px;
}

/* MOBILE*/
.store_secOptions_mobile {
  display: none;
}

.store_secOptions_mobile .store__user2 {
  padding: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  .store {
    height: 560px;
  }
  .store__logo2 {
    height: 75px;
  }
  .store__nav {
    height: 75px;
  }
  .store__user2 {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .store__bag {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .store__firstOptions {
    display: none;
  }
  .store__secOptions {
    display: none;
  }
  .store__mobile {
    display: block;
    position: relative;
    z-index: 10;
  }
  .store_secOptions_mobile {
    display: block;
  }
  .store__textBanner {
    font-size: 50px;
  }
}

@media (min-width: 900px) {
  .store_secOptions_mobile {
    display: none;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.cookie {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 260px;
  height: 350px;
  margin-top: 60px;
  margin: 12px;
}

.cookie__img {
  width: 260px;
  height: 350px;
}

.cookie__star {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.cookie__starContainer {
  margin-left: 15px;
}

.cookie__information {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 120px;
}

.cookie__information2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 125px;
  margin-top: 190px;
  left: 0;
  right: 0;
}

.cookie__subtitle {
  font-family: "PT Mono";
  color: white;
  font-size: 12px;
  text-align: center;
}

.cookie__name {
  font-family: "Oswald";
  color: white;
  font-size: 35px;
  margin-top: 5px;
  text-align: center;
  line-height: 1;
}

.cookie__price {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 15px;
  font-family: "Oswald";
  color: white;
}

@media (max-width: 900px) {
  .list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.productForm__label {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.productForm--checkbox {
  margin-top: 2px;
}

.productForm__input {
  display: block;
  margin-left: 20px;
}

.productForm__select {
  margin-top: 15px;
  display: block;
  margin-left: 20px;
}

.productForm__btn {
  margin-top: 15px;
  display: block;
  margin-left: 20px;
}

.productForm__success {
  color: #10bb43;
}

.productForm__error {
  color: #bb1010;
}

.productForm__img {
  width: 200px;
  margin: 4px 10px 0 0;
  margin-left: 20px;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
}

.productDetail__logo2 {
  position: relative;
  height: 100px;
}

.productDetail__menu {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.productDetail__user2 {
  margin-top: -2%;
  width: 40px;
  height: 40px;
}

.productDetail__bag {
  margin-top: -2%;
  margin-right: 2%;
  width: 40px;
  height: 40px;
}

.productDetail__firstOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: #111475;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 25%;
}

.productDetail__shop {
  text-decoration: none;
  color: #111475;
}

.productDetail__shop:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.productDetail__location:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.productDetail__grocery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.productDetail__delivery:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.productDetail__secOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Oswald";
  color: #111475;
  margin-top: 2.2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 26%;
}

.productDetail__nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.productDetail__title {
  text-align: center;
  font-family: "Oswald";
  margin-top: 60px;
  font-size: 45px;
  color: #111475;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
}

.productDetail__mobile {
  display: none;
  height: auto;
  margin-top: 15px;
  margin-left: 20px;
}

.productDetail__menu {
  margin-top: 5px;
  width: 25px;
  height: 3px;
  background-color: #111475;
  border-radius: 5px;
}

.detail__product--image {
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__product--larrow {
  position: absolute;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 20px;
}

.detail__product--rarrow {
  position: absolute;
  width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  right: 20px;
}

/* MOBILE*/
.store_secOptions_mobile {
  display: none;
}

.store_secOptions_mobile .productDetail__user2 {
  padding: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 900px) {
  .productDetail__logo2 {
    height: 75px;
  }
  .productDetail__nav {
    height: 75px;
  }
  .productDetail__user2 {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .productDetail__bag {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .productDetail__firstOptions {
    display: none;
  }
  .productDetail__secOptions {
    display: none;
  }
  .productDetail__mobile {
    display: block;
    position: relative;
    z-index: 10;
  }
  .productDetail_secOptions_mobile {
    display: block;
  }
  .productDetail__title {
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .productDetail_secOptions_mobile {
    display: none;
  }
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.detail_images {
  position: relative;
}

.detail_images {
  position: relative;
}

.detail__product {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  height: 400px;
}

.detail__container {
  background-color: #ecf1e7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__order {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}

.detail__title {
  font-family: "Oswald";
  color: #111475;
  font-size: 34px;
  text-align: center;
  margin-top: 17px;
  line-height: 1;
  width: 350px;
}

.detail__text {
  font-family: "Oswald";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}

.detail__description {
  font-family: "Chivo";
  color: #111475;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.detail__btn {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: transparent;
  border-color: #111475;
  border-width: 1px;
  border-style: solid;
  font-family: "Oswald";
  display: flex;
  color: #111475;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__btn:hover {
  background-color: #111475;
  color: white;
}

@media (max-width: 1050px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .detail__product {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: 430px;
  }
  .detail__container {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 86%;
    margin-top: 0%;
  }
  .detail__order {
    font-size: 10px;
    text-align: center;
    margin-top: 45px;
  }
  .detail__title {
    font-size: 30px;
    text-align: center;
    margin-top: 13px;
  }
  .detail__text {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .detail__description {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
  }
  .detail__btn {
    margin-top: 8%;
    margin-bottom: 7%;
    width: 230px;
    height: 40px;
    font-size: 12px;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e5ebee;
  height: 670px;
}

.login__login {
  font-family: "Oswald";
  color: #111475;
  font-size: 35px;
}

.login__signup {
  font-family: "Oswald";
  color: #111475;
  font-size: 35px;
}

.login__modal1 {
  background-color: #f2ebf8;
  margin-top: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 200px;
  width: 700px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.login__modal2 {
  background-color: #fefdf9;
  margin-top: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 200px;
  width: 700px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 2px 10px #cccbcb;
          box-shadow: 2px 2px 10px #cccbcb;
}

.login__input {
  width: 270px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border-color: #111475;
  border-width: 2px;
  border-style: solid;
  font-family: "PT mono";
  color: #111475;
  font-size: 13px;
  margin-top: 15px;
}

.login__btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 40px;
  border-radius: 4px;
  border-width: 2px;
  background-color: #111475;
  color: #e5ebee;
  font-family: "Oswald";
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 670px;
  }
  .login__login {
    font-family: "Oswald";
    margin-top: 20px;
    color: #111475;
    font-size: 25px;
  }
  .login__signup {
    font-family: "Oswald";
    color: #111475;
    font-size: 25px;
    margin-top: 20px;
  }
  .login__modal1 {
    background-color: #f2ebf8;
    margin-top: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    width: 360px;
    height: 430px;
  }
  .login__modal2 {
    background-color: #fefdf9;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
    width: 360px;
    height: 430px;
  }
  .login__input {
    width: 220px;
    height: 35px;
    border-radius: 4px;
    font-size: 10spx;
    margin-top: 15px;
  }
  .login__btn {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 220px;
    height: 35px;
    border-radius: 4px;
    font-size: 12px;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__list {
  margin-left: 30px;
  margin-top: 30px;
}

.cart__title {
  font-family: "Oswald";
  font-size: 40px;
  color: #111475;
}

.cart__product {
  background-color: #e4edf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 650px;
}

.cart__img {
  width: 150px;
  height: 150px;
}

.cart__productInfo {
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}

.cart__order {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
}

.cart__cookieName {
  font-family: "Oswald";
  font-size: 28px;
  color: #111475;
  line-height: 1;
  height: 55px;
  width: 250px;
}

.cart__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.cart__subtraction {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 3px;
}

.cart__addition {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  margin-top: 3px;
}

.cart__number {
  font-family: "Oswald";
  font-size: 18px;
  color: #111475;
}

.cart__symbols {
  margin-right: 20px;
  margin-top: 30px;
}

.cart__equis {
  width: 18px;
  height: 18px;
}

.cart__price {
  font-family: "Oswald";
  font-size: 18px;
  color: #111475;
  margin-top: 55px;
}

@media (max-width: 1000px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart__list {
    margin-left: 0px;
    margin-top: 30px;
  }
  .cart__title {
    font-size: 30px;
    text-align: center;
  }
  .cart__product {
    background-color: #e4edf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    width: 380px;
  }
  .cart__img {
    width: 120px;
    height: 120px;
  }
  .cart__productInfo {
    margin-left: 10px;
    margin-top: 20px;
    width: 500px;
  }
  .cart__order {
    font-family: "PT Mono";
    color: #111475;
    font-size: 10px;
  }
  .cart__cookieName {
    font-family: "Oswald";
    font-size: 20px;
    line-height: 1;
    height: 55px;
    width: 220px;
  }
  .cart__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
  .cart__subtraction {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: 3px;
  }
  .cart__addition {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: 3px;
  }
  .cart__number {
    font-family: "Oswald";
    font-size: 14px;
    color: #111475;
  }
  .cart__symbols {
    margin-left: 0px;
    margin-top: 10px;
  }
  .cart__equis {
    width: 16px;
    height: 16px;
  }
  .cart__price {
    font-size: 14px;
    margin-top: 60px;
  }
}

.delivery {
  margin-top: 90px;
  margin-left: 370px;
}

.delivery__modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.delivery__containerBtn {
  background-color: #f1f1f2;
  margin-top: 10px;
  width: 320px;
}

.delivery__title2 {
  font-family: "Oswald";
  font-size: 20px;
  color: #111475;
  line-height: 1;
  text-align: center;
  margin-right: 10px;
}

.delivery__input {
  width: 270px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border-color: #111475;
  border-width: 2px;
  border-style: solid;
  font-family: "PT mono";
  color: #111475;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

.delivery__payment {
  background-color: #111475;
  margin-top: 10px;
  width: 320px;
  height: 150px;
  padding: 20px;
}

.delivery__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.delivery__subtotal {
  font-family: "Oswald";
  font-size: 20px;
  color: white;
}

.delivery__text {
  font-family: "PT Mono";
  color: white;
  font-size: 15px;
  text-align: center;
}

.delivery__btn {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 40px;
  border-radius: 4px;
  border-width: 2px;
  background-color: white;
  color: #111475;
  font-family: "Oswald";
  display: flex;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .delivery {
    margin-top: 20px;
    margin-left: 0px;
  }
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__name {
  font-family: "PT mono";
  font-size: 15px;
  color: #111475;
  margin-left: 10px;
}

.order__subtitle {
  font-family: "Chivo";
  font-size: 15px;
  color: #111475;
}

.order__list {
  margin-top: 50px;
}

.order__title {
  font-family: "Oswald";
  font-size: 40px;
  color: #111475;
  text-align: center;
}

.order__product {
  background-color: #e4edf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 800px;
}

.order__img {
  width: 200px;
  height: 200px;
}

.order__productInfo {
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}

.order__order {
  font-family: "PT Mono";
  color: #111475;
  font-size: 12px;
}

.order__cookieName {
  font-family: "Oswald";
  font-size: 28px;
  color: #111475;
  line-height: 1;
  height: 55px;
  width: 450px;
}

.order__symbols {
  margin-left: 30px;
  margin-top: 30px;
}

.order__equis {
  width: 18px;
  height: 18px;
}

.order__price {
  font-family: "Oswald";
  font-size: 18px;
  color: #111475;
  margin-top: 100px;
}

@media (max-width: 900px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__name {
    font-size: 10px;
    margin-left: 10px;
  }
  .order__subtitle {
    font-size: 10px;
  }
  .order__list {
    margin-top: 40px;
  }
  .order__title {
    font-size: 30px;
  }
  .order__product {
    background-color: #e4edf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    width: 400px;
    height: 150px;
  }
  .order__img {
    width: 130px;
    height: 150px;
  }
  .order__productInfo {
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
  }
  .order__order {
    font-size: 10px;
  }
  .order__cookieName {
    font-family: "Oswald";
    font-size: 18px;
    color: #111475;
    line-height: 1;
    height: 50px;
    width: 150px;
  }
  .order__symbols {
    margin-right: 13px;
    margin-top: 10px;
  }
  .order__equis {
    width: 13px;
    height: 13px;
  }
  .order__price {
    font-family: "Oswald";
    font-size: 12px;
    color: #111475;
    margin-top: 90px;
  }
}

.confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirmation__modal {
  background-color: #f2ebf8;
  margin-top: 100px;
  border-radius: 10px;
  width: 600px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirmation__title {
  font-family: "Oswald";
  font-size: 40px;
  color: #111475;
  line-height: 1;
}

.confirmation__text {
  font-family: "Chivo";
  font-size: 20px;
  color: #111475;
  margin-top: 20px;
}

.confirmation__btn {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background-color: transparent;
  border-color: #111475;
  border-width: 1px;
  border-style: solid;
  font-family: "Oswald";
  display: flex;
  color: #111475;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirmation__btn:hover {
  background-color: #111475;
  color: white;
}

@media (max-width: 1000px) {
  .confirmation__modal {
    margin-top: 40px;
    border-radius: 10px;
    width: 370px;
    height: 250px;
  }
  .confirmation__title {
    font-size: 28px;
  }
  .confirmation__text {
    font-size: 14px;
    margin-top: 20px;
  }
  .confirmation__btn {
    width: 270px;
    height: 40px;
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */